<h1>Values of CryptoCurrencies</h1>
<a class="btn btn-success" href=<%= currency_path('Bitcoin') %> role="button">Bitcoin</a>
<a class="btn btn-success" href=<%= currency_path('Ethereum') %> role="button">Ethereum</a>
<a class="btn btn-success" href=<%= currency_path('Nasdaq') %> role="button">Nasdaq</a>
<%= link_to_if(params[:id], "Graph of #{params[:id]}", "https://en.wikipedia.org/wiki/#{params[:id]}") %>
